<ul class="results">
{{#each results}}
    <a href="{{ url }}">
        <li class="result result-item {{ model }}">
            <div class="item-object">
                <span class="item-romanized-name">{{ romanized_name }}</span>
                <span class="item-name">{{ name }}</span>
            </div>
            <span class="item-type">{{ model }}</span>
        </li>
    </a>
{{/each}}
{{#if query}}
    <a href="/search/?q={{ query }}">
        <li class="result result-query">Search for other "<strong>{{ query }}</strong>" results &rarr;</li>
    </a>
{{/if}}
</ul>
